body {
  margin: 0;
}

.table-container {
  height: calc(100dvh - 56px);
  height: calc(100vh - 56px);
}

@media (max-width: 464px) {
  .table-container {
    height: calc(100dvh - 88px);
    height: calc(100vh - 88px);
  }
}
